@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body{
  background-image: url('../public/images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
}

main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-summary{
  width: 450px;
  border-radius: 20px;
  overflow: hidden;
  background-color: hsl(225, 100%, 98%);
  box-shadow: 0px 0px 10px hsla(223, 47%, 23%, 0.099);
}

.order-summary-image{
  width: 100%;
}

.order-summary-image img{
  width: 100%;
}

.order-summary-header{
  margin-top: 20px;
  text-align: center;
  padding: 20px 35px;
}

.order-summary-header h1{
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.order-summary-header p{
  color: hsl(224, 23%, 55%);
  padding: 15px 40px;
  line-height: 25px;
  font-size: 16px;
}

.order-summary-form{
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-summary-plan{
  background-color: hsl(225, 100%, 97%);
  border-radius: 20px;
  display: flex;
  padding: 20px;
  gap: 15px;
  justify-content: space-between;
}

.order-summary-form-content{
  flex: 1;
}

.order-summary-form-content p{
  color: hsl(224, 23%, 55%);
}

.order-summary-form-controls{
  align-self: center;
}

.order-summary-form-controls a{
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.order-summary-form-controls a:hover{
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.497);
}

.order-summary-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.btn{
  border-radius: 10px;
  border: 0;
  font-size: 16px;
  font-weight: 900;
  padding: 15px;
  cursor: pointer;
}

.btn-blue{
  background-color: hsl(245, 75%, 52%);
  color:hsl(225, 100%, 98%);
  transition: all 300ms;
  box-shadow: 0px 3px 10px hsla(223, 47%, 23%, 0.19);
}

.btn-blue:hover{
  background-color: hsla(245, 75%, 52%, 0.6);
}

.btn-white{
  background-color: hsl(225, 100%, 98%);
  color:hsl(223, 47%, 23%);
  transition: all 300ms;
}

.btn-white:hover{
  opacity: 0.7;
}

@media(max-width: 460px){
  .order-summary{
    width: 100%;
    margin: 0 20px;
  }
  .order-summary-header{
    padding: 0;
  }
  .order-summary-form{
    padding: 10px;
  }
}